body{
    background-image: url("https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png");
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    overflow: hidden;
}
#Astronaut-1{
    width: 500px;
    position: absolute;
    top: 5%;
    left: 5%;
    animation: floating 5s infinite;
}
 @keyframes floating {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
}

#Astronaut-2{
    width: 450px;
    position: absolute;
    top: 35%;
    left: 30%;
    animation: floating 4s infinite;
}
@keyframes floating {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(40px);
    }
}

 form{
    height: 550px;
    position: absolute;
    top: 15%;
    left: 63%;
    width: 350px;
    padding: 0 75px;
    background-color: white;
    border-radius: 5px
 }

.block-display{
    display: block
}
  @import url(<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">);

  body{
    font-family: 'Poppins', sans-serif;
  }
  label{
    font-size: 16px;
    margin: 20px 0 40px 0;
  }

  #finalbutton{
    background-color: rgb(229, 122, 35);
    color: rgb(250, 246, 246);
    position: relative;
    left: 25%;
    top: -6%;
    height: 8%;
    width: 180px;
    border-radius: 20px;
  }
  h1{
    text-align: center;
  }

  #rentspacesuit{
    position: relative;
    top: -6%;
  }

  #mail{
    position: relative;
    top: -7%;
    height: 7%;
    width: 340px;
  }
  #mailtext{
    position: relative;
    top: -1%;
  }
  
  #Number{
    height: 6%;
    width: 340px;
    position: relative;
    top: -1%;
  }

#NumberText{
    position: relative;
    top: 5%;
}

#Country{
    position: relative;
    height: 8%;
    width: 345px;
    top: 5%;
}

#countrytext{
    position: relative;
    top: 3%;

}

#SpaceSuit{
    position: relative;
    top: -11%;
}

#SpaceSuit1{
    position: relative;
    top: -11%;
}
 #spacesuittext{
    position: relative;
    top: -11%;
 }

 #spacesuit1text{
    position: relative;
    top: -11%;
 }